.StyledHeaderNavbar-enterActive{

    z-index: 900000 !important;
    position: absolute !important;
    left: 100vw !important;
}
.StyledHeaderNavbar-enterDone{

    z-index: 900000 !important;
    position: absolute !important;
    left: 0  !important;
    transition: left 300ms ease-in;
}
.StyledHeaderNavbar-exit{

    z-index: 900000 !important;
    position: absolute !important;
    left: 0vw !important;
}
.StyledHeaderNavbar-exitActive{

    z-index: 900000 !important;
    position: absolute !important;
    left: 100vw !important;
    transition: left 300ms ease-in;

}
.StyledHeaderNavbar-exitDone{

    z-index: 900000 !important;
    position: absolute !important;
    left: 100vw  !important;
}